name: Update

on:
  schedule:
    - cron: '*/5 * * * *'
  #push:
  #  branches:
  #  - main

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Install Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install requirements
        run: |
          pip3 install -r requirements.txt

      - name: Generate README.md
        run: |
          export TZ='Asia/Shanghai'
          python3 writeReadme.py ${{ secrets.DATA_URL }}

      - name: Run safe dir
        run: |
          git config --global --add safe.directory /github/workspace

      #- name: push
      #  uses: github-actions-x/commit@v2.8
      #  with:
      #    github-token: ${{ secrets.TOKEN }}
      #    push-branch: 'main'
      #    commit-message: 'update'
      #    force-add: 'false'
      #    name: left916
      #    email: 1379771811@qq.com
      
      - name: Check file change
        id: check
        run: |
          OUTPUT=$(git diff --quiet || echo 'dirty')
          echo "::set-output name=OUTPUT::$OUTPUT"
      
      - name: Push README
        if: steps.check.outputs.OUTPUT == 'dirty'
        run: |
          git config user.name left916
          git config user.email 1379771811@qq.com
          git fetch --unshallow origin
          git add .
          git commit -m "generated readme"
          git push
